{% extends "base.html" %}

{% block title %}TopNews{% endblock %}

{% block page_content %}
            <h3>
                Hi,
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    Stranger
                {% endif %}!
            </h3>

            <div class="jumbotron">
            <h3>每天醒来世界发生了什么</h3>
            <p>sina/nhk</p>
            </div>


          <div class="row">
              {% for n in news %}
                <div class="col-sm-4 news">
                    <div class="card news_card">
                        <div class="card_img">
                            <a href="news/news/{{ n._id }}">
                                {% if n.imgs %}
                            <img class="card-img-top img-responsive"
                                 src="{{ n.imgs[0] }}"
                                 alt="Card image cap">
                                {% else %}
                            <img class="card-img-top img-responsive"
                                 src="{{ url_for('static', filename = 'image/default_news_img.png') }}"
                                 alt="Card image cap">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-body card_down">
                            <h4 class="card-title">{{ n.title }}</h4>
                            <p class="card-text">{{ n.n_date }}</p>
                        </div>
                    </div>
                </div><!--/.col-xs-6.col-lg-4-->
              {% endfor %}
          </div>

            <!--<div class="card-columns">-->

                <!--{% for n in news %}-->
              <!--<div class="card" style="width: 200px;">-->

                <!--<a href="news/news/{{ n._id }}">-->
                        <!--{% if n.imgs %}-->
                    <!--<img class="card-img-top img-responsive" src="{{ n.imgs[0] }}" alt="Card image cap">-->
                        <!--{% else %}-->
                    <!--<img class="card-img-top img-responsive" src="{{ url_for('static', filename = 'image/default_news_img.png') }}" alt="Card image cap">-->
                        <!--{% endif %}-->
                <!--</a>-->

                <!--<div class="card-body">-->
                    <!--<h4 class="card-title">{{ n.title }}</h4>-->
                    <!--<p class="card-text">{{ n.n_date }}</p>-->
                <!--</div>-->

              <!--</div>-->
                <!--{% endfor %}-->
            <!--</div>-->

{% endblock %}
